.App {
  justify-content: center;
  align-items: center;
}

h3,h2,h4,h5,p {
  padding: 0px;
  margin: 0px;
}

.square {
  padding: 10px;
  width: 25px;
  height: 25px;
}

.square-image {
  width : 20px;
  height : 20px;
}

/* For mobile phones: */
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .container {
    display: flex;
    justify-content: space-around;
  }
  .left-pane {
    margin:20px;
  }
  .right-pane {
    position: relative;
  }
  .actions {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }
  .square {
    padding: 20px;
    width: 30px;
    height: 30px;
  }
  .square-image {
    width : 30px;
    height : 30px;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .container {
    display: flex;
    justify-content: space-around;
  }
  .left-pane {
    width: 60%;
    margin:20px;
  }
  .right-pane {
    width: 40%;
    position: relative;
  }
  .actions {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }
  .square {
    padding: 20px;
    width: 30px;
    height: 30px;
  }
  .square-image {
    width : 30px;
    height : 30px;
  }
  .home-sub-root{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }
}
