.App {
  justify-content: center;
  align-items: center;
}

h3,h2,h4,h5,h6,h1,p {
  padding: 0px;
  margin: 0px;
}

.square {
  padding: 10px;
  width: 25px;
  height: 25px;
}

.square-image {
  width : 20px;
  height : 20px;
}

.home-chess-image:hover {
  width: 40px;
  height: 40px;
}

.home-chess-image {
  width: 30px;
  height: 30px;
  transition: 0.5s;
}

.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto;
  padding: 10px;
}

.center-card {
  position: absolute;
  left: 130px;
  top: 130px;
  text-align: center;
}

/* For mobile phones: */
@media only screen and (max-width: 600px) {
  /* For tablets: */
  .container {
    display: flex;
    justify-content: space-around;
  }
  .left-pane {
    margin:20px;
  }
  .right-pane {
    position: relative;
  }
  .actions {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }
  .square {
    padding: 20px;
    width: 30px;
    height: 30px;
  }
  .square-image {
    width : 30px;
    height : 30px;
  }
  .grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto ;
    padding: 10px;
  }
  
  .center-card {
    position: absolute;
    left: 70px;
    top: 100px;
    text-align: center;
  }
}

@media only screen and (min-width: 1250px) {
  /* For desktop: */
  .container {
    display: flex;
    justify-content: space-around;
  }
  .left-pane {
    width: 60%;
    margin:20px;
  }
  .right-pane {
    width: 40%;
    position: relative;
  }
  .actions {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }
  .square {
    padding: 20px;
    width: 30px;
    height: 30px;
  }
  .square-image {
    width : 30px;
    height : 30px;
  }
  .home-sub-root{
    display: flex;
    justify-content: space-around;
    height: max-content;
    margin: 10px;
  }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #7c0505;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

.loader-small {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #7c0505;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
